node_modules
/package-lock.json
dist/
#build/
server/mock/
/mock/
yarn-error.log
yarn.lock
server/certs/certifiate.cer
server/certs/DigiCertCA2.cer
.gitignore
server/sso/*
batch/models/combinedData.json
batch/models/trainedData.nlp
nlp/corpus/*
model.nlp
nodered/
.env
.readmes/
assets/
.vscode/
img/