extends layout

block content
  div(style="width:900px; margin:0 auto; padding:50px 10px;font-family:'Arial'; border:solid 1px #ccc;margin-top:200px") 
    center    
      div
        h1 Hey! Its not an error
        h3 we are pushing the latest feature to the website and we will be back in 2  Minutes 