<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#000000">
    <title>Kalinga Institute of Social Sciences – KISS</title>
    <!-- <link href="https://www.paypalobjects.com/webstatic/icon/favicon.ico"  rel="shortcut icon" type="image/x-icon"/>
    <link href="https://www.paypalobjects.com/webstatic/icon/pp32.png" rel="icon" type="image/x-icon" /> -->
    <!-- <script src="https://www.paypalobjects.com/staging/pa/js/min/pa.js"></script> -->
    <!-- Preload font files for better performance -->
    <!-- <script src="https://www.paypalobjects.com/pa/js/min/pa.js"></script> -->
  </head>
  <body>
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <div id="root"></div>
  </body>
</html>
  