.layout_portal {
  .header_cont {
    z-index: 999;
    border-bottom: 3px solid #ffffff;

    .layout_header {
      border: 0px;

      .portal_logo {
        img {
          height: 46px;
        }
      }
    }

    .userinfo {
      margin: 5px;
    }

    .ant-menu-item {
      .img {
        font-size: 18px;
      }

      font-size: 18px;
    }
  }

  .layout_section {
    padding: 0 10px !important;
  }

  .layout_contentWrapper {
    min-height: 90vh;
    background: #fff !important;
    padding: 10px;

    .ant-btn-primary {
      border-color: #52b257 !important;
      background: #4cb053 !important;
    }

    @media (max-width: 925px) {
      // margin: 20px;
    }
  }

  .banner_placeholder {
    // color: #ffffff;
    // background: #3bc89a;

    color: #ffffff;
    background: linear-gradient(182deg, #45b964, #eeffe48f);

    .statistics {
      align-items: center !important;
      display: flex;

      .icon {
        display: inline-block;
        font-size: 50px;
        margin-right: 10px;
      }

      .text {
        display: inline-block;
        font-size: 25px;
      }
    }
  }

  footer {
    h3 {
      margin: 0;
      color: #fff;
    }

    color: #fff;
    background-color: #001529;
    min-height: 100px;
  }

  .listingView {
    h1 {
      color: #4cb053;
      margin-top: 0px;
      font-weight: 200;
      font-size: 40px;
    }

    .details {

      // box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;

      .ant-card-body {
        min-height: 1000px;

        .img {
          height: 450px;
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center;
        }
      }
    }

    .categories {
      .ant-card {
        margin-bottom: 20px;
        // box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
      }

    }
  }

  .homePage {

    .ant-tabs-content-holder,
    .ant-tabs-nav {
      padding: 10px !important;
    }

    .ant-tabs-nav {
      ::before {
        border-bottom: 0 !important;
      }

      .ant-tabs-nav-list {
        .ant-tabs-tab-active {
          .ant-tabs-tab-btn {
            color: #33ae7a !important;
          }

          padding: 5px 10px;
          border-radius: 10px;
          text-align: center;
        }
      }
    }

    .ant-input-group-addon {
      .ant-btn-primary {
        border-color: #274685;
        background: #274685;
      }
    }

    h1 {
      color: #333;
      margin-top: 0px;
      font-size: 2em;
      font-weight: 300;
    }

    .ant-tabs-tab {
      padding: 10px 6px 5px 6px;
      font-size: 1.5em;
      font-weight: 300;
      text-transform: capitalize;
    }

    .ant-tabs-top>.ant-tabs-nav .ant-tabs-ink-bar,
    .ant-tabs-bottom>.ant-tabs-nav .ant-tabs-ink-bar,
    .ant-tabs-top>div>.ant-tabs-nav .ant-tabs-ink-bar,
    .ant-tabs-bottom>div>.ant-tabs-nav .ant-tabs-ink-bar {
      height: 3px;
      border-radius: 0 0 5px 5px;
      background: #32af7a !important;
    }

    .ant-list {
      margin-left: -15px;
    }

    .listing {

      .ant-card {
        .ant-card-body {
          padding: 0;
          min-height: 250px;

          .img {
            height: 210px;
            width: 100%;
            background-size: contain;
            background-repeat: no-repeat;
          }

          .details {
            padding: 10px 15px;

            .ant-divider {
              margin: 10px 0;
            }

            .category {
              font-weight: 500px;
              font-size: 18px;
              margin: 0;
            }

            .title {
              font-size: 20px;
              margin: 0;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              color: #333;
              font-weight: 400;
            }

            .desc {
              font-size: 15px;
              margin: 0;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              color: #686767;
              font-weight: 200;
            }

            .info {
              display: flex;
              flex-direction: column;

              .key {
                display: inline-block;
                width: 150px;
                font-size: 1em;
                font-weight: 100;
                margin-bottom: 0px;
              }

              .value {
                display: inline-block;
                text-transform: uppercase;
                color: #333;
                font-weight: 200;
                margin-top: 4px;
                font-size: 12px;
              }
            }
          }
        }
      }
    }
  }

  .calenderView {
    // padding: 20px;
    // margin: 10px 15px;
  }
}

.center_layout {
  width: 1200px;
  margin: 0 auto;
}

.whitebg {
  background-color: #fff !important;
}

.darkbg {
  background-color: #001529 !important;
}

.bredcrum_style1 {
  border-bottom: 1px solid #f0f0f0;
  margin: 16px auto;
  padding-bottom: 5px;

  span.ant-breadcrumb-link {
    text-transform: uppercase;
  }
}

.category_card {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 10px;

  .category_box {
    padding: 15px 15px 10px 15px;
    background: #ffffff;
    border: 1px solid #f0f2f5;
    cursor: pointer;

    .category_title {
      text-transform: capitalize;
      font-size: 1.2em;
      font-weight: 300;
      font-style: italic;
    }

    .category_des {
      font-weight: 100;
    }

    .category_events {
      font-weight: 200;
      margin-top: 10px;

      .count {
        font-weight: 400;
      }
    }
  }

  .category_event_list {
    margin-top: 10px;
    cursor: pointer;
  }

  .category_event_box {
    background: #ebfbee;
    padding: 7px 20px;
    border-left: 2px solid #33603f;
    margin-bottom: 4px;

    .category_event_name {
      margin-bottom: 5px;
    }

    span.date {
      font-weight: 400;
    }

    .category_event_start {
      font-size: 12px;
      font-weight: 200;
      text-transform: capitalize;
    }

    .category_event_end {
      font-size: 12px;
      font-weight: 200;
      text-transform: capitalize;
    }
  }
}

.calender_box {
  border: 1px solid #f0f0f0;
}

.main-content {
  margin: auto;

  .ant-menu {
    .ant-menu-item {
      font-weight: 600;
    }

    .ant-menu-item-selected {
      background-color: #1a2844;

      a {
        color: #fff;
      }
    }
  }

  .ant-menu-horizontal {
    border-bottom: 0px;
  }
}

@media (min-width: 1020px) {
  .main-content {
    width: 960px;
  }
}

@media (min-width: 1210px) {
  .main-content {
    width: 1140px;
  }
}

@media (min-width: 1500px) {
  .main-content {
    width: 1440px;
  }
}

@media (min-width: 1740px) {
  .main-content {
    width: 1570px;
  }
}

@media (min-width: 2270px) {
  .main-content {
    width: 2000px;
  }
}

.events_details_calender {
  display: block;
  margin: auto;
  padding: 20px 0px;
  background: #fcfbfc;
  border-bottom: 1px solid #e8e8e857;

  .ant-picker-calendar-full .ant-picker-panel .ant-picker-calendar-date-content {
    min-height: 90px !important;
  }

  .ant-picker-calendar.ant-picker-calendar-full {
    padding: 0 20px;
  }
}

.events {
  margin: 0;
  padding: 0;
  list-style: none;
}

.events .ant-badge-status {
  width: 100%;
  overflow: hidden;
  font-size: 12px;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.notes-month {
  font-size: 28px;
  text-align: center;
}

.notes-month section {
  font-size: 28px;
}

.calender_events {
  list-style: none;
  padding: 0px;
  margin: 0px;

  .success {
    background: #87d068;
    padding: 2px 2px;
    border-radius: 5px;

    span.ant-badge-status-text {
      color: #fff;
    }
  }

  li {
    margin-bottom: 2px;
  }
}

.event_details_wrapper {
  padding: 30px 50px 20px 50px;

  .event_title {
    font-size: 2.8em;
    font-weight: 200;
    color: #0d62bd;
  }

  .event_details_wrapper {
    padding: 20px 40px;
  }

  .des_box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    border: 1px solid #e8e8e8;
    margin-bottom: 20px;
    margin-top: 20px;
    border-radius: 10px;
    background: #fcfbfc;

    .des_box_list {
      padding: 20px 45px 20px 20px;
      position: relative;

      ._title {
        text-transform: uppercase;
        color: #a1a1a1;
        font-weight: 300;
      }

      ._value {
        color: #626262;
        font-weight: 600;
        font-size: 1.2em;
        text-transform: capitalize;
        margin-top: 5px;
      }

      &:after {
        content: "";
        right: 0px;
        width: 1px;
        background: #e8e8e8;
        top: 26%;
        bottom: 0;
        position: absolute;
        height: 50%;
        left: -37px;
      }

      &:first-child:after {
        display: none;
      }
    }
  }

  .event_des_title {
    text-transform: uppercase;
    color: #a1a1a1;
    margin-bottom: 10px;
  }

  .event_des_des {
    font-size: 1.2em;
    font-weight: 300;
  }

  .event_des_otherInfo {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 20px;

    .event_otherInfo_box {
      padding: 20px 0;

      .otherInfo_title {
        font-size: 1.2em;
        font-weight: 100;
        text-transform: capitalize;
      }

      .otherInfo_des {
        font-size: 1.2em;
        font-weight: 300;
        text-transform: capitalize;
        word-break: break-all;
        
        // overflow: hidden;
        // text-overflow: ellipsis;
        // white-space: nowrap;
      }
    }
  }
}

.rsc-header-title {
  color: #fff
}

.activeColor {
  color: #4caf50 !important;
}

.event_details_for {
  label {
    text-transform: capitalize;
  }
}

.layout_portal .menu_placeholder {
  background: linear-gradient(269deg, #b40d05, #a10d05);

  ul.ant-menu-overflow.ant-menu.ant-menu-root.ant-menu-horizontal.ant-menu-dark {
    background: linear-gradient(269deg, #b40d05, #a10d05);
    color: #fff !important;
  }

  span.ant-menu-title-content {
    color: #bae1c5 !important;
  }
}

// Ramesh
.header_bar {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  padding: 5px 0;

  @media (max-width: 925px) {
    padding: 10px 20px;
  }

  .layout_left {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 10px;
    width: 100%;

    .menu {
      display: grid;
      align-items: center;

      .ant-menu-horizontal {
        display: flex;
        align-items: end;
        width: 100%;
        flex-direction: row-reverse;
        border-right: 2px solid #f4f2f2;
      }

      .ant-menu-item {
        font-weight: 300 !important;
        font-size: 1em !important;
        text-transform: uppercase;
      }

      @media (max-width: 925px) {
        display: none !important
      }


      .ant-menu-horizontal>.ant-menu-item a {
        font-weight: 400;
        color: rgba(0, 0, 0, .5);
      }

      .ant-menu .ant-menu-item-selected {
        background-color: transparent !important;

        a {
          color: #2ca34f !important;
          font-weight: 500 !important;
        }
      }

      .ant-menu-horizontal:not(.ant-menu-dark)>.ant-menu-item:hover::after,
      .ant-menu-horizontal:not(.ant-menu-dark)>.ant-menu-submenu:hover::after,
      .ant-menu-horizontal:not(.ant-menu-dark)>.ant-menu-item-active::after,
      .ant-menu-horizontal:not(.ant-menu-dark)>.ant-menu-submenu-active::after,
      .ant-menu-horizontal:not(.ant-menu-dark)>.ant-menu-item-open::after,
      .ant-menu-horizontal:not(.ant-menu-dark)>.ant-menu-submenu-open::after,
      .ant-menu-horizontal:not(.ant-menu-dark)>.ant-menu-item-selected::after,
      .ant-menu-horizontal:not(.ant-menu-dark)>.ant-menu-submenu-selected::after {
        border-bottom: 2px solid #2ca34f !important;
      }

      .ant-menu-horizontal:not(.ant-menu-dark)>.ant-menu-item:hover::after,
      .ant-menu-horizontal:not(.ant-menu-dark)>.ant-menu-submenu:hover::after,
      .ant-menu-horizontal:not(.ant-menu-dark)>.ant-menu-item-active::after,
      .ant-menu-horizontal:not(.ant-menu-dark)>.ant-menu-submenu-active::after,
      .ant-menu-horizontal:not(.ant-menu-dark)>.ant-menu-item-open::after,
      .ant-menu-horizontal:not(.ant-menu-dark)>.ant-menu-submenu-open::after,
      .ant-menu-horizontal:not(.ant-menu-dark)>.ant-menu-item-selected::after,
      .ant-menu-horizontal:not(.ant-menu-dark)>.ant-menu-submenu-selected::after {
        border-bottom: 2px solid #2ca34f !important;
      }
    }

    .logo {
      position: relative;
      padding-right: 20px !important;
      margin-right: 20px !important;

      // &:after {
      //   content: '';
      //   height: 43px;
      //   width: 2px;
      //   background: #f4f2f2;
      //   position: absolute !important;
      //   top: 9px;
      //   right: -13px;
      // }
    }
  }

  .layout_right {
    display: grid;
    font-size: 22px;
    align-items: center;
    padding: 0 20px;

    .user_menu {
      display: block !important;

      @media (max-width: 925px) {
        display: none !important
      }
    }

    .mobile_menu {
      display: none !important;

      @media (max-width: 925px) {
        display: block !important
      }
    }
  }

}

.userMenu {
  .ant-avatar-group {
    display: inline-flex;
    align-items: center !important;
    min-width: 150px !important;

    span.ant-avatar.ant-avatar-circle.ant-avatar-image {
      border: 1px solid #f2f2f2;
      margin-right: 10px;
    }
  }
}

.banner_subheader_statisti {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  padding: 10px 0;

  @media (max-width: 925px) {
    padding: 20px;
  }

  .banner_subheader_box {
    display: flex;
    background: #ffffff;
    padding: 10px 20px;
    color: #333;
    flex-direction: column;
    position: relative;
    overflow: hidden;

    .icon {
      font-size: 1em;
      font-weight: 300;
    }


    .text {
      font-size: 2em;
      font-weight: 300;
    }
  }

}

.banner_subheader_box:first-child:after {
  width: 96px;
  position: absolute;
  content: '';
  height: 36px;
  z-index: 999;
  background: rgb(0, 89, 147);
  transform: rotate(105deg);
  top: 32px;
  right: -50px;
}


.banner_subheader_box:nth-child(2):after {
  width: 96px;
  position: absolute;
  content: '';
  height: 36px;
  z-index: 999;
  background: rgb(255, 152, 0);
  transform: rotate(105deg);
  top: 32px;
  right: -50px;
}

.footer_wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 20px;

  .footer_box {
    .footer_logo_name {
      font-size: 1.5em;
      font-weight: 300;
      margin-bottom: 10px;
    }

    .footer_des {
      font-size: 1.2em;
      font-weight: 100;
    }

    .footer_contact_title {
      font-size: 1.5em;
      font-weight: 300;
      margin-bottom: 10px;
    }

    .footer_contact_link ul {
      list-style: none;
      padding: 0px;
    }

    .footer_contact_link ul {
      li {
        margin: 10px auto;
        font-weight: 200;
      }
    }

    .footer_contact_addrs {
      font-weight: 100;
    }
  }
}

.ant_listing_box {

  ul.ant-list-items {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 30px;

    .listing {
      box-shadow: 0 0 0.25rem #0000003d;
    }
  }

}

.event_list_card {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 30px;

  .event_list_box {
    box-shadow: 2px 2px 4px 1px #ccc;
    border-radius: 5px;
  }

  .ant-card.ant-card-bordered {
    border: 0px !important;
  }
}

.mobile_home_view {
  display: none;
}

.description {
  font-size: 1.2em;
  font-weight: 300;
}

.listingView {
  p {
    font-size: 1.2em;
    font-weight: 200;
  }

  h2 {
    font-weight: 300;
  }
}

.catd_title_right {
  font-size: 1.3em;
  font-weight: 300;
  text-transform: capitalize;
}

.ant-list-item-meta-title {
  font-weight: 400;
}

.EventImg {
  background: #f3f3f3;

  .category {
    position: relative;
    top: 7px;
    left: 10px;

    span.ant-tag.ant-tag-has-color {
      background-color: #4fb155 !important;
    }
  }
}

.center_box_medium {
  width: 500px;
  margin: auto;

  @media (max-width: 500px) {
    width: 100%;
  }
}

.blankImg {
  background: #3bc89a;
  position: relative;

  &:after {
    content: ' NO IMAGE';
    position: absolute;
    font-size: 2.5em;
    font-weight: 600;
    color: #159168 !important;
    height: 100%;
    width: 100%;
    display: block;
    margin: auto;
    text-align: center;
    top: 44%;
  }
}

@media (max-width: 900px) {
  .web_home_view {
    display: none;
  }

  .mobile_home_view {
    display: block;
  }
}


// end 